@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');


#Terms{
				font-family: 'Josefin Sans', sans-serif;
				background: rgba(255,204,0,0.5);
				
				padding: 10px;
				border-radius: 10px;
				margin: 100px 10px;
}
section{
				margin-bottom: 100px;
}
#logo_main{
				font-family: 'Racing Sans One', cursive;
				color: #fff;
				font-size: 2.5rem;
				letter-spacing: 1px;
}
#logo_sec{
				font-family: 'Cinzel Decorative', cursive;
}
#center_box{
				padding: 30px 0px;
				display: flex;
				justify-content: center;
				align-items: center;
}
#top_intro{
				width: 150px;
				padding: 12px 12px 12px 18px;
				background: #9142ff;
				border-radius: 90px 10px 10px 0px;
}
#top_img{
				display: flex;
				justify-content: center;
				align-items: center;
}
#top_name{
				display: flex;
				justify-content: center;
				align-items: center;
				
}
fieldset{
				width: calc(100% - 60px);
				padding: 20px;
				margin: 10px;
				border: solid #a555ff;
				border-radius: 5px;
}
legend{
				font-size: 1.2rem;
}
.grid{
				display: grid;
				grid-template-columns: 1fr 1fr;
}
.grid > div:nth-child(odd){
				
}
.grid > div:nth-child(even){
				
}
.grid > div{
				margin: 5px 1px;
}
.grid_element{
				padding-top: 10px;
}
.top_grid_element{
				grid-column: 1/3;
}
form, input, select{
				font-family: 'Josefin Sans', sans-serif;
}
input, select{
				cursor: pointer;
}
select{
				background: none;
				outline: none;
				padding: 5px;
				width: 100%;
				border: 1px solid #a555ff;
				border-radius: 5px;
}
.inpbox{
				background: none;
				outline: none;
				padding: 2px 5px;
				width: calc(100% - 12px);
				height: calc(100% - 12px);
				border: 1px solid #a555ff;
				border-radius: 5px;
}
#result_box{
				max-width: 100%;
				padding: 15px;
				border: 1px solid #a555ff;
				border-radius: 5px;
}
#result{
				font-family: 'Josefin Sans', sans-serif;
}
#result_h1{
				margin: 0px;
				font-size: 2.5rem;
}
#button_submit{
				width: 120px;
				background: none;
				outline: none;
				border: 1px solid #a555ff;
				border-radius: 5px;
				margin: 10px 0px 20px 0px;
}
#button_swap{
				width: 90%;
				height: 65%;
				background: none;
				outline: none;
				border: 1px solid #a555ff;
				border-radius: 5px;
				margin-top: 21.5%;
				margin-left: 5%;
}
#submit{
				width: 40px;
				outline: none;
				overlay: none;
		   transform: rotate(45deg);
}
hr{
				border: 1.2px solid #a555ff;
				border-radius: 0px;
}
.loading {
  display: flex;
  justify-content: center;
  padding: 7px 0;
}

.loading--full-height {
  align-items: center;
  height: 100%;
}

.loading::after {
  content: "";
  width: 20px;
  height: 20px;
  border: 5px solid #dddddd;
  border-top-color: #a555ff;
  border-radius: 50%;
  transform: rotate(0.16turn);
  animation: loading 0.7s ease infinite;
}

@keyframes loading {
  /* Safari support */
  from {
    transform: rotate(0turn);
  }
  
  to {
    transform: rotate(1turn);
  }
}

								.footer_weatheral {
								
												background:#3b2369;
												padding:10%;
												color:#a0a0a0;
								}
								.support_img{
												height:70px;
												margin:0px;
								}
								.whtb{
												background: #fff;
								}
								.hr{
												width:70%;
												height:0.1px;
												border: solid #ddd;
								}
								.footer_element{
												margin-top:70px;
												display:block;
								}
								.footer_element_text{
												text-decoration:none;
												color:#ffffff;
												width:200px;
												margin:10px;
												display:block;
								}
@media screen and (min-width: 767px){
				section{
								margin-bottom: 250px;
								margin-right: 25%;
								margin-left: 25%;
				}
				#Terms{
								margin-right: 5%;
								margin-left: 5%;
								margin-bottom: -200px;
				}
				#hr, #br{
								display:none;
				}
				
				#fieldset{
								display: grid;
 				grid-template-columns: 50% 0% 50%;
				}
				#box_one{
								grid-column: 0/1;
				}
				#result{
								grid-column: 3/4;
								padding: 10px;
								display: flex;
								justify-content: center;
				}
}
